
body{
	background-color: black;
}


body{
overflow:auto;
}

.center{
  margin: auto;
  width: 60%;
  border: 3px solid;
  padding: 10px;
  color:white;
}



input{
margin:20px;
}

select{
margin:20px;
}


h1{
text-align: center;
color:white;
}

